body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
  color:#fff;
}
.container-fluid{
  padding:3% 15%;
}

h1{
    font-family: "Montserrat-thin";
    font-weight: bold;
    font-size: 3em;
    line-height: 1.5;
}
h2{
  font-weight: bold;
  line-height: 1.5;
}
h3{
  font-weight: bold;
  color:#000000;
}
p{
  color:#8f8f8f;
}
/* navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}
.nav-item{
  padding : 0 18px;
}
.nav-link{
  font-size:1.2rem;
  font-family: "Montserrat-Light";
  color:#fff;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  transform: rotate(25deg);
  width:15%;
  position: absolute;
  right: 30%;
}
#features{
  padding:7% 15%;
  background-color: #fff;
  position: relative;
}
.features-box{
  padding: 4.5%;
  text-align: center;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
#testimonials{
  padding:15% 7%;
  background-color: #ef8172;
  text-align: center;
  color:#fff;
}
.testimonial-img{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
.testimonial-text{
padding:0 15%;
font-weight: bold;
}
.carousel-item{
  padding:0 7%;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom:  3%;
}
.press-img{
  width:15%;
  margin: 20px 20px 50px;
}
/* Pricing sectio */
#pricing{
  padding:100px;
  text-align: center;
}
.pricing-column{
  padding:3% 2%;

}

@media (max-width:1024px){
  #title{
    text-align: center;
  }
  .title-image{
    transform : rotate(0);
    position: static;
    width: 60%;
  }
}
/* call to action */
#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

.cta-h3{
  padding: 7%;
  color:#fff;
  font-weight: bold;
  font-size: 55px;
}
/* footer section */
#footer{
  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
}
.social-logo{
  margin: 15px 20px;
}
.cta-icon {
  margin: 8px;
}
